RPi NodeRed + MQTT/nodered.txt
[{"id":"92fa4c57.07a7d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"281a4cda.48d1d4","type":"BeaconScanner","z":"92fa4c57.07a7d","name":"","gracePeriod":0,"x":67.16667175292969,"y":61,"wires":[["27a143de.7ac1dc"]]},{"id":"916d5af4.ba9c48","type":"switch","z":"92fa4c57.07a7d","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"},{"t":"eq","v":"temp_noise","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":461.45240020751953,"y":244.2857151031494,"wires":[["e48b2027.a17ce","d224937.fd60c7"],["2098f1f4.136a6e","d224937.fd60c7"]]},{"id":"e48b2027.a17ce","type":"function","z":"92fa4c57.07a7d","name":"Motion sensor","func":"var r = msg.payload.eddystoneUrl.url.split(\"/\");\nvar json = {};\njson[\"status\"] = \"success\";\njson[\"timestamp\"] = Math.round(Date.now()/1000);\njson[\"id\"] = r[(r.length)-2];\njson[\"result\"] = [\n    {\"type\":\"motion\", \"reading\": r[(r.length)-1]}];\n    \nmsg.payload = json;\nreturn msg;\n   ","outputs":1,"noerr":0,"x":858.1429290771484,"y":207.71429824829102,"wires":[["f1037cf6.5b3fa"]]},{"id":"27a143de.7ac1dc","type":"function","z":"92fa4c57.07a7d","name":"Check if sensor is motion or temp & noise sensor","func":"var ids_motion = [\"f0cf7829eaee\",\"fac97b05b3b5\"]\nvar ids_temp_noise = [\"ff8862647f88\",\"dce4e37145f6\"]\nif(ids_motion.indexOf(msg.payload.id) > -1){\n    msg.payload.type = \"motion\"}\nelse if (ids_temp_noise.indexOf(msg.payload.id) > -1){\n    msg.payload.type = \"temp_noise\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":292.2857360839844,"y":155.71429824829102,"wires":[["916d5af4.ba9c48","24156278.e4c19e"]]},{"id":"2098f1f4.136a6e","type":"function","z":"92fa4c57.07a7d","name":"Noise & temp sensor","func":"var r = msg.payload.eddystoneUrl.url.split(\"/\");\nvar json = {};\njson[\"status\"] = \"success\";\njson[\"timestamp\"] = Math.round(Date.now()/1000);\njson[\"id\"] = r[(r.length)-3];\n    json[\"result\"] = [\n{\"type\": \"temp\", \"reading\": r[(r.length)-2]},\n    {\"type\":\"noise\", \"reading\": r[(r.length)-1]}];\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":678.7857284545898,"y":289.28573417663574,"wires":[["b8badbe3.c3db48","f4316dc3.d02e8"]]},{"id":"f4316dc3.d02e8","type":"mqtt out","z":"92fa4c57.07a7d","name":"","topic":"chuchu/0987/tempnoise","qos":"","retain":"","broker":"7c543723.fd6658","x":1340.9526176452637,"y":262.85716819763184,"wires":[]},{"id":"f1037cf6.5b3fa","type":"mqtt out","z":"92fa4c57.07a7d","name":"","topic":"chuchu/0987/motion","qos":"2","retain":"","broker":"7c543723.fd6658","x":1293.8095703125,"y":165.71429443359375,"wires":[]},{"id":"b8badbe3.c3db48","type":"debug","z":"92fa4c57.07a7d","name":"","active":true,"console":"false","complete":"false","x":850.0000228881836,"y":397.14286041259766,"wires":[]},{"id":"24156278.e4c19e","type":"debug","z":"92fa4c57.07a7d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":651.5000381469727,"y":77.00000476837158,"wires":[]},{"id":"d224937.fd60c7","type":"debug","z":"92fa4c57.07a7d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.eddystoneUrl.url","targetType":"msg","x":717.1666564941406,"y":156,"wires":[]},{"id":"7c543723.fd6658","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]